* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.contenedor
 {
    background-color: rgb(184, 210, 250);
    padding: 10px;
    font-size: 25px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "header header header"
        "side1 contenido side2"
        "footer footer footer";
    height: 70vh;
}


.contenedor > div 
{
    background-color: mediumslateblue;
    padding: 10px;
    text-align: center;
}


.contenedor .header
 {
    background-color: rgb(131, 125, 236);
    grid-column: 1/4;
}
.contenedor .side1 
{
    grid-area: side1;
    background-color: rgb(168, 121, 192);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.side1 .box1, .side1 .box2
 {
    background-color: lavender;
    border: 6px solid purple;
    padding: 20px;
    width: 200px;
    height: 100px;
    
}


.contenedor .contenido 
{
    grid-area: contenido;
    background-color: rgb(140, 140, 219);
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.contenido .texto1
 {
    background-color: lavender;
    border: 6px solid purple;
    padding: 20px;
    width: 30%;
    text-align: center;
    font-size: small;

}
.contenido .texto2
{
    background-color: lavender;
    border: 6px solid purple;
    padding: 20px;
    width: 28%;
    text-align: center;
    font-size: small;

}
.contenido .texto3
 {
    background-color: lavender;
    border: 6px solid purple;
    padding: 20px;
    width: 35%;
    text-align: center;
    font-size: small;

}


.contenedor .side2 {
    grid-area: side2;
    background-color: rgb(113, 102, 185);
}


.contenedor .footer {
    grid-column: 1/4;
    background-color: rgb(173, 167, 235);
    
}